#homepage {
    display: flex;
    width: 100vw;
    height: 100%;
    color: white;
}

#chef {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    width: 40%;
    border: 2px solid white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#chefphoto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid white;
    background: url('./assets/remy.jpg');
    background-size: cover;
    background-position: center;
}

#restrauntInfo {
    display: flex;
    flex-direction: column;
    font-size: 26px;
    width: 60%;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
